<section id="section_intro">
  <article>
    <h2><%=t(:intro_title) %></h2>
    <figure>
      <%=image_tag 'intro/image.png',:alt=>"사진" %>
      <figcaption>사진</figcaption>
    </figure>
    <div>
    	<%=raw t(:intro_description) %>    
    </div>
  </article>
</section>
