<section id="main_main">
	<section class="section_main1">
		<%= render :partial => 'galleries/index' %>
	</section>
	<section class="section_main2">		
		<%= render :partial => 'customer_center/notices/index' %>
		<div class="clearfix visible-sm">&nbsp;</div>
		<%= render :partial => 'customer_center/guest_books/index' %>
		<div class="clearfix visible-sm">&nbsp;</div>		
		<%= render :partial => 'customer_center/questions/index' %>
	</section>
</section>