<section id="board_password_fail" class="sub_main">
	<div class="section_top">
		<h1><%=@controller_name %></h1>
		<p class="path"><%=link_to '홈으로',root_path,:title=>'홈으로' %> &gt; <span>고객센터</span>  &gt; <strong><%=@controller_name %></strong></p>
	</div>
	<div>
	ㅇㅇ
	</div>
	<div id="sl_content_bottom_menu">	
		<%= link_to '돌아가기', url_for(:action=>'show',:id=>@gid) %>
	</div>
</section>
