<footer>
	<div><%=t(:home_title) %>  &nbsp; | &nbsp; <%=t(:application_address) %> &nbsp; | &nbsp;  <%=link_to t('activerecord.models.site'),site_index_path %>  &nbsp; | &nbsp;  copyleft 2012</div>
	<div><%=t(:application_description) %></div>
</footer>